.choose-section,.newsletter{
  max-width: 1170px;
  margin: 0px auto;


}
.cart{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.choose-section h3{
  color: #131318;
font-size: 24px;
font-weight: 800;
}
.choose-section .cart p{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.choose-section .cart  .item-1,.item-2,.item-3{
border-radius: 16px;
max-width: 573px;
padding: 32px;
padding-right: 55px;

}
.choose-section h3{
  margin-top: 32px;
  margin-bottom: 16px;
}
.choose-section .item-1{
background: rgba(251, 181, 99, 0.05);
border: 1px solid rgba(251, 181, 99, 0.20);
}
.choose-section .item-2{
  background: rgba(41, 206, 246, 0.05);
  border: 1px solid rgba(41, 206, 246, 0.20);
}
.choose-section .item-3{
  background: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.20);
}
.choose-section h2{
  color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.choose-section > p{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 24px;
margin-bottom: 48px;
}
.newsletter-heading{
  border-radius: 16px;
  border: 1px solid #FF5400;
  padding: 40px;
}

.newsletter{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  gap: 24px;
  align-items: stretch;
  position: relative;

}
.newsletter-heading h3{
  color: #131318;
font-size: 24px;
font-weight: 800;
margin-bottom: 16px;

}
.newsletter-heading p{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.newsletter hr{
  margin: 24px 0;
  background: rgba(19, 19, 24, 0.10);

}
.newsletter-heading input{
  border: none;
  width: 100%;
  height: 52px;
border-radius: 8px;
font-size: 16px;
font-weight: 400;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
padding-left: 20px;
margin-bottom: 16px;
}
.newsletter-heading button{
  border: none;
  border-radius: 8px;
  width: 100%;
height: 52px;
background: #FF5400;
color: #FFF;
font-size: 20px;
font-weight: 800;
}
.discount{
  border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
bottom: 53px;
right: 10px;
}
.discount h3{
  color: #FFF;

font-size: 24px;
font-weight: 400;
}
.discount h2{
color: #FFF;
font-size: 32px;
font-weight: 800;
}
footer{
background: rgba(19, 19, 24, 0.05);
height: 502px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  .footer-title{
        display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-title h2{
color: var(--Dark-01, #131318);
font-size: 32px;
font-weight: 800;
}
.footer-title span{
  color: #FF5400;
}
footer p{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
text-align: center;
margin-top: 15px;
margin-bottom: 33px;
}
footer i{
  margin-right: 23px;
  font-size: 24px;
}
footer hr{
  margin: 50px 0;
  background: rgba(19, 19, 24, 0.10);
  height: 1px;
width: 872px;
}
footer h4{
  color: #131318;
font-size: 16px;
font-weight: 300;
}






@media screen and (max-width:600px){
  .choose-section{
    margin: 0 20px;
  }
  .newsletter{
    flex-direction: column;
    margin: 24px 20px;
  }
  .newsletter img{
    width: 560px;
  }
  footer hr{
width: 550px;
}



}
