.destination{
  max-width: 1170px;
  margin: 0px auto;
  margin-bottom: 100px;
}
.destination h1{
  color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.destination p{
  color: rgba(19, 19, 24, 0.70);
  max-width: 643px;
margin: 0 auto;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 24px;
margin-bottom: 48px;
}
.destination-img > div{
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.text-middle{
  position: relative;

}
.text-middle h3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #FFF;
font-size: 28px;
font-weight: 800;
}
@media screen and (max-width:600px){
  .destination-img > div{
    flex-direction: column;
    box-sizing: border-box;
    max-width: 600px;
    align-items: center;

  }
  .destination-img img{
  width: 500px;
  height: 300px;


  }
}