header{
  max-width: 1170px;
  margin: 50px auto;
}
nav{
  /* border: 2px #FF5400 solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.travel-title{
  display: flex;
  justify-content: center;
  gap: 15px;
  color: #131318;
font-size: 2.25rem;
font-weight: 800;
}
.travel-title span{
  color: #FF5400;
}
nav  ul{
  display: flex;
  align-items: center;
  gap: 44px;

}
nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
  color: #424247;
text-align: center;
font-size: 1.125rem;
font-weight: 400;
}
.home{
color: #FF5400;
}
@media screen and (min-width:601px) {
  .menu-bar{
    display: none;
  }

}
@media screen and (max-width:600px) {
nav{
  margin: 0 20px;

}
.travel-menu{
    display: none;
  }
  .travel-title{
font-size: 1.344rem;
font-weight: 800;
}
}
