body{
  margin: 0px;
  padding: 0px;
}
header{
  max-width: 1170px;
  margin: 0 auto;
}
nav{
  /* border: 2px #FF5400 solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.travel-title{
  color: #131318;
font-family: Mulish;
font-size: 2.25rem;
font-weight: 800;
}
.travel-title span{
  color: #FF5400;
font-family: Mulish;
}
nav  ul{
  display: flex;
  align-items: center;

}
nav li{
  list-style: none;
  margin-left: 44px;
}
nav li a{
  text-decoration: none;
  color: #424247;
text-align: center;
font-size: 1.125rem;
font-weight: 400;
}
.home{

color: #FF5400;
}
