.tour{
    max-width: 1170px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
.tour h2{
  color: #131318;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.tour p{
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.tour ul{
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-left: 20px;
margin-top: 24px;
margin-bottom: 24px;
}
@media screen and (max-width:600px){
  .tour{
    flex-direction: column;
    gap: 24px;
    padding: 0 20px;
  }
}